@charset "UTF-8";
/* CSS Document */


/* NARRATIVE */

.dressed-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
	background: url(../media/Films/Dressed/dressed.gif) center;
    background-size:cover;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
}

.filmsGrid li:hover .dressed-overlay {
    opacity:1;
}

.FLIC-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
	background: url(../media/Films/FLIC/flic.gif) center;
    background-size:cover;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
}

.filmsGrid li:hover .FLIC-overlay {
    opacity:1;
}

.lapse-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
	background: url(../media/Films/Lapse/lapse.gif) center;
    background-size:cover;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
}

.filmsGrid li:hover .lapse-overlay {
    opacity:1;
}

.stella-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
	background: url(../media/Films/Stella/stella2.gif) center;
    background-size:cover;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
}

.filmsGrid li:hover .stella-overlay {
    opacity:1;
}

.unprotected-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
	background: url(../media/Films/Unprotected/unprotected.gif) center;
    background-size:cover;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
}

.filmsGrid li:hover .unprotected-overlay {
    opacity:1;
}

.lam-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
	background: url(../media/Films/Lam/lam.gif) center;
    background-size:cover;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
}

.filmsGrid li:hover .lam-overlay {
    opacity:1;
}

/* SHORT-FORM */

.katespade-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
	background: url(../media/Films/KateSpade/katespade.gif) center;
    background-size:cover;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
}

.filmsGrid li:hover .katespade-overlay {
    opacity:1;
}

.yye-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
	background: url(../media/Films/YYE/yye.gif) center;
    background-size:cover;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
}

.filmsGrid li:hover .yye-overlay {
    opacity:1;
}

.apathy-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
	background: url(../media/Films/Apathy/apathy.gif) center;
    background-size:cover;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
}

.filmsGrid li:hover .apathy-overlay {
    opacity:1;
}

.jablibi-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
	background: url(../media/Films/Jablibi/jablibi.gif) center;
    background-size:cover;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
}

.filmsGrid li:hover .jablibi-overlay {
    opacity:1;
}

.continuingforward-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
	background: url(../media/Films/ContinuingForward/continuingforward.gif) center;
    background-size:cover;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
}

.filmsGrid li:hover .continuingforward-overlay {
    opacity:1;
}

.nostalgia-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
	background: url(../media/Films/Nostalgia/nostalgia.gif) center;
    background-size:cover;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
}

.filmsGrid li:hover .nostalgia-overlay {
    opacity:1;
}