@charset "UTF-8";
/* CSS Document */

.lapse-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
	background: url(../media/Films/Lapse/loop.gif) center;
    background-size:cover;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
}

#filmsGrid li:hover .lapse-overlay {
    opacity:1;
}

.stella-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
}

#filmsGrid li:hover .stella-overlay {
    opacity:1;
}

.katespade-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	background: url(../media/Films/KateSpade/loop2.gif) center;
    background-size:cover;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
}

#filmsGrid li:hover .katespade-overlay {
    opacity:1;
}

.lam-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
	background: url(../media/Films/Lam/loop3.gif) center;
    background-size:cover;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
}

#filmsGrid li:hover .lam-overlay {
    opacity:1;
}
