@charset "UTF-8";

/* CSS Document */

@font-face {
	font-family: montserrat-regular;
	src: url(../media/Fonts/montserrat/Montserrat-Regular.otf);
}

@font-face {
	font-family: montserrat-bold;
	src: url(../media/Fonts/montserrat/Montserrat-Bold.otf);
}

@font-face {
	font-family: montserrat-semibold;
	src: url(../media/Fonts/montserrat/Montserrat-SemiBold.otf);
}

@font-face {
	font-family: montserrat-light;
	src: url(../media/Fonts/montserrat/Montserrat-Light.otf);
}

@font-face {
	font-family: montserrat-extralight;
	src: url(../media/Fonts/montserrat/Montserrat-ExtraLight.otf);
}

@font-face {
	font-family: montserrat-thin;
	src: url(../media/Fonts/montserrat/Montserrat-Thin.otf);
}

@font-face {
	font-family: quantify;
	src: url(../media/Fonts/quantify.otf);
}

* {
	font-family: montserrat-light;
	font-size: 13px;
	color: rgba(255, 255, 255, 1.00);
	line-height: 20px;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	width: 100%;
	background-color: rgba(0, 0, 0, 1.00);
	overflow-x: hidden;
	-webkit-overflow-scrolling: touch;
}


/* Scroll Track */

::-webkit-scrollbar-track {
	-webkit-box-shadow: rgba(0, 0, 0, 0);
}


/* Scroll Handle */

::-webkit-scrollbar-thumb {
	-webkit-border-radius: 20px;
	border-radius: 20px;
	background: rgba(150, 150, 150, 0.25);
}

::-webkit-scrollbar-thumb:window-inactive {
	background: rgba(150, 150, 150, 0.25);
}

::-webkit-scrollbar {
	width: 8px;
}


/* Preloader */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 1.00);
	/* change if the mask should be a color other than white */
	z-index: 99999999;
	/* makes sure it stays on top */
}

#status {
	width: 20px;
	height: 24px;
	border: 1px rgba(255, 255, 255, 1) solid;
	border-radius: 0px 0px 5px 5px;
	position: absolute;
	left: 50%;
	/* centers the loading animation horizontally on the screen */
	top: 50%;
	margin: -12px 0 0 -10px;
}

#status:after, #status:before {
	position: absolute;
	content: "";
}

#status:after {
	width: 5px;
	height: 12px;
	border: 1px rgba(255, 255, 255, 1) solid;
	border-left: none;
	border-radius: 0px 20px 20px 0px;
	left: 20px;
}

#status:before {
	width: 1px;
	height: 6px;
	background-color: rgba(255, 255, 255, 1);
	top: -10px;
	left: 4px;
	box-shadow: 5px 0px 0px 0px rgba(255, 255, 255, 1), 5px -5px 0px 0px rgba(255, 255, 255, 1), 10px 0px 0px 0px rgba(255, 255, 255, 1);
	-webkit-animation: steam 1s linear infinite alternate;
	-moz-animation: steam 1s linear infinite alternate;
	animation: steam 1s linear infinite alternate;
}

@-webkit-keyframes steam {
	0% {
		height: 0px;
	}
	100% {
		height: 6px;
	}
}

@-moz-keyframes steam {
	0% {
		height: 0px
	}
	100% {
		height: 6px;
	}
}

@keyframes steam {
	0% {
		height: 0px
	}
	100% {
		height: 6px;
	}
}


/* HEADER */

.headercontainer {
	display: flex;
	width: 100%;
	justify-content: center;
	height: 70px;
	border-bottom: solid 1px;
	border-color: rgba(255, 255, 255, 0.30);
}

.header {
	display: flex;
	align-items: center;
	width: 95%;
}

.logo {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	text-align: left;
}

.logo p {
	margin: 0 0 -.25em 0;
}

#name {
	font-family: quantify;
	font-size: 18px;
}

#job {
	font-size: 13px;
}

.nav {
	flex: 1;
	display: flex;
	justify-content: center;
}

.nav a {
	text-decoration: none;
	font-family: montserrat-regular;
	margin-left: 20px;
	margin-right: 20px;
}

.icons {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-self: center;
}

.icons a {
	text-decoration: none;
}

.icons img {
	height: 23px;
	margin-left: 7px;
	margin-top: 4px;
}

#Selected {
	color: rgba(92, 92, 92, 1.00);
}

.headercontainer a:hover {
	color: rgba(92, 92, 92, 1.00);
	transition: .3s;
}

.headercontainer img:hover {
	opacity: .3;
	transition: .3s;
}

@media (max-width: 640px) {
	.headercontainer {
		height: 125px;
		padding-top: 15px;
	}
	.header {
		flex-direction: column;
	}
	.logo {
		justify-content: center;
		text-align: center;
	}
	.logo p {
		margin: 0 0 -.15em 0;
	}
	#name {
		font-family: quantify;
		font-size: 20px;
	}
	#job {
		font-size: 14px;
	}
	.nav {
		order: 2;
		align-items: center;
	}
	.nav a {
		margin-left: 15px;
		margin-right: 15px;
	}
	.icons {
		align-items: center;
	}
	.icons img {
		height: 22px;
		margin-left: 4px;
		margin-right: 4px;
	}
}


/* Films */

.subsection {
	display: flex;
	width: 100%;
	height: 75px;
}

.subsection p {
	display: flex;
	margin-left: 2.5%;
	font-family: montserrat-semibold;
	align-self: flex-end;
}

.filmsGridBigWrapper {
	display: table;
	width: 100%;
}

.filmsGrid {
	max-width: calc(95% + 40px);
	margin: 0 auto;
	padding: 0;
	font-size: 0;
	list-style: none;
	width: 100%;
	background-color: rgba(0, 0, 0, 1.00);
	margin-left: auto;
	margin-right: auto;
}

.filmsGrid li {
	display: inline-block;
	*display: inline;
	width: 33.33%;
	vertical-align: middle;
	box-sizing: border-box;
	margin: 0;
	padding: 20px 20px 20px 20px;
}

.filmsGrid-cell {
	display: block;
	position: relative;
}

.filmsGrid-img {
	display: block;
	width: 100%;
	height: auto;
	border: none;
	transform: scale(1);
}

.filmsGrid-text {
	display: flex;
	padding: 0;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	text-align: left;
	font-size: 13px;
	font-weight: bold;
	justify-content: center;
	align-items: flex-end;
	color: rgba(255, 255, 255, 1.00);
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all .5s;
	background-color: rgba(0, 0, 0, 0.3);
	height: calc(100% + 30px);
}

.filmsGrid li:hover .filmsGrid-text {
	opacity: 1;
}

#shortFormGrid {
	padding-bottom: 37px;
}

@media (max-width: 1024px) {
	.subsection {
		justify-content: center;
	}
	.subsection p {
		margin-left: 0;
		font-size: 16px;
	}
	.filmsGrid li {
		width: 50%;
	}
	#shortform {
		padding-top: 20px;
	}
	#shortFormGrid {
		padding-bottom: 25px;
	}
}

@media (max-width: 640px) {
	.subsection {
		justify-content: center;
	}
	.subsection p {
		margin-left: 0;
		font-size: 16px;
	}
	.filmsGrid li {
		width: 50%;
	}
	#shortform {
		padding-top: 20px;
	}
	#shortFormGrid {
		padding-bottom: 25px;
	}
	.filmsGrid li {
		width: 100%;
		padding: 20px 5px 20px 5px;
	}
}


/* FILM DETAILS PAGE */

.filmDetails {
	display: flex;
	margin: 0 auto;
	align-items: center;
	flex-direction: column;
	height: auto;
	width: 100%;
	padding-bottom: 37px;
	padding-top: 37px;
}

.filmGallery {
	display: flex;
	align-self: flex-end;
	flex-direction: column;
	align-items: center;
	order: 0;
	width: 100%;
	justify-content: center;
	height: auto;
}

.slider {
	height: auto;
	width: auto;
	max-height: 100%;
	max-width: 100%;
}

.slider-for {
	width: 70%;
	height: auto;
	margin: 0 auto;
}

.slider-for#fourthree-for {
	width: 50%;
}

.slider-for#twothreefive-for {
	width: 80%;
}

.slider-for div {
	width: 100%;
	height: auto;
}

.slider-for div img {
	margin: 0 auto;
	max-height: 100%;
	width: 100%;
	height: auto;
	padding-bottom: 15px;
}

.slider-for div iframe {
	margin: 0 auto;
	width: 100%;
	max-height: 100%;
}

.slider-nav {
	width: 50%;
	height: auto;
	margin: 0px auto;
}

.slider-nav#fourthree-nav {
	width: 40%;
}

.slider-nav#twothreefive-nav {
	width: 60%;
}

.slider-nav div {
	height: auto;
	width: auto;
}

.slider-nav div img {
	height: auto;
	width: 100%;
	max-height: 100%;
	top: 0;
}

.filmInfoContainer {
	display: flex;
	align-items: center;
	justify-content: center;
	order: 1;
	width: 100%;
	height: auto;
	padding-top: 37px;
}

.filmInfo {
	text-align: center;
	width: 50%;
}

#Title {
	font-family: montserrat-semibold;
	font-size: 25px;
}

#Subtitle {
	font-family: montserrat-extralight;
}

#titleItalics {
	font-style: italic;
}

#infoItalics {
	font-style: italic;
}

#Camera {
	font-family: montserrat-regular;
}

#Optics {
	font-family: montserrat-regular;
}

#TRT {
	font-family: montserrat-regular;
}

@media (max-width: 1024px) {
	.filmDetails {
		flex-direction: column;
		height: auto;
		width: 100%;
	}
	.filmGallery {
		display: flex;
		align-self: flex-end;
		flex-direction: column;
		align-items: center;
		order: 0;
		width: 100%;
		justify-content: center;
		height: auto;
	}
	.filmInfoContainer {
		order: 1;
		width: 100%;
		justify-content: center;
		height: auto;
		padding-top: 25px;
	}
	.slider-for {
		width: 90%;
	}
	.slider-nav {
		width: 70%;
	}
	.slider-for#fourthree-for {
		width: 80%;
	}
	.slider-nav#fourthree-nav {
		width: 60%;
	}
	.slider-for#twothreefive-for {
		width: 90%;
	}
	.slider-nav#twothreefive-nav {
		width: 80%;
	}
}

@media (max-width: 640px) and (orientation:portrait) {
	.filmDetails {
		width: 100%;
	}
	.slider-for {
		width: 100%;
	}
	.slider-nav {
		width: 80%;
	}
	.slider-for#fourthree-for {
		width: 100%;
	}
	.slider-nav#fourthree-nav {
		width: 80%;
	}
	.filmInfo {
		width: 80%;
	}
}


/* PHOTOS GRID PAGE */

.photosGridBigWrapper {
	display: table;
	width: 100%;
}

.photosGrid {
	max-width: calc(95% + 40px);
	margin: 0 auto;
	padding: 0;
	font-size: 0;
	list-style: none;
	width: 100%;
	background-color: rgba(0, 0, 0, 1.00);
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
}

.photosGrid li {
	display: inline-block;
	*display: inline;
	width: 33.33%;
	vertical-align: middle;
	box-sizing: border-box;
	margin: 0;
	padding: 20px 20px 20px 20px;
}

.photosGrid-cell {
	display: block;
	position: relative;
}

.photosGrid-img {
	display: block;
	width: 100%;
	height: auto;
	border: none;
	transform: scale(1);
}

.photosGrid-text {
	display: flex;
	padding: 0;
	box-sizing: border-box;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	text-align: left;
	font-size: 13px;
	font-weight: bold;
	justify-content: center;
	align-items: flex-end;
	color: rgba(255, 255, 255, 1.00);
	opacity: 0;
	filter: alpha(opacity=0);
	transition: all .5s;
	background-color: rgba(0, 0, 0, 0.3);
	height: calc(100% + 30px);
}

.photosGrid li:hover .photosGrid-text {
	opacity: 1;
}

@media (max-width: 1024px) {
	.photosGridBigWrapper {
		padding-bottom: 25px;
	}
	.photosGrid li {
		width: 50%;
	}
}

@media (max-width: 640px) {
	.photosGridBigWrapper {
		padding-bottom: 25px;
	}
	.photosGrid li {
		width: 100%;
		padding: 20px 5px 20px 5px;
	}
}


/* PHOTO ALBUM PAGE  */

.photosAlbumGridBigWrapper {
	display: table;
	width: 100%;
	padding-bottom: 15px;
}

#photosAlbumGrid {
	max-width: 100%;
	margin: 0 auto;
	padding: 0;
	font-size: 0;
	list-style: none;
	width: calc(95% + 30px);
	background-color: rgba(0, 0, 0, 1.00);
	margin-left: auto;
	margin-right: auto;
}

#photosAlbumGrid li {
	display: inline-block;
	*display: inline;
	width: 16.66%;
	vertical-align: middle;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

.photosAlbumGrid-cell {
	display: block;
	position: relative;
	margin: 15px;
}

.photosAlbumGrid-cell img {
	display: block;
	width: 100%;
	height: auto;
	border: none;
	transform: scale(1);
}

#photosAlbumGrid li:hover .photosAlbumGrid-overlay {
	opacity: 1;
}

.photosAlbumGrid-cell:hover {
	opacity: .5;
	transition: .3s;
}

#photoTitle {
	height: 50px;
	justify-content: center;
}

#photoTitle p {
	margin-left: 0;
	align-self: center;
}

@media (max-width: 1300px) {
	#photosAlbumGrid li {
		width: 20%;
	}
}

@media (max-width: 1150px) {
	#photosAlbumGrid li {
		width: 25%;
	}
}

@media (max-width: 1024px) {
	#photosAlbumGrid li {
		width: 33.33%;
	}
}

@media (max-width: 640px) {
	#photosAlbumGrid {
		width: 100%;
	}
	.photosAlbumGrid-cell {
		margin: 10px;
	}
	.photosAlbumGridBigWrapper {
		display: table-header-group;
	}
}