@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: montserrat-regular;
    src: url(../media/Fonts/montserrat/Montserrat-Regular.otf);
}

@font-face {
	font-family: montserrat-bold;
    src: url(../media/Fonts/montserrat/Montserrat-Bold.otf);
}

@font-face {
	font-family: montserrat-semibold;
    src: url(../media/Fonts/montserrat/Montserrat-SemiBold.otf);
}

@font-face {
	font-family: montserrat-light;
    src: url(../media/Fonts/montserrat/Montserrat-Light.otf);
}

@font-face {
	font-family: montserrat-extralight;
    src: url(../media/Fonts/montserrat/Montserrat-ExtraLight.otf);
}

@font-face {
	font-family: montserrat-thin;
    src: url(../media/Fonts/montserrat/Montserrat-Thin.otf);
}

@font-face {
	font-family: quantify;
	src: url(../media/Fonts/quantify.otf);
}

* {
	font-family: montserrat-light;
	font-size: 13px;
	color: rgba(210,210,210,1.00);
	line-height: 20px;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	background: rgba(15,15,15,1.00);
}

body {
	overflow:scroll;
}


.pageWrapper {
	min-height: 100%;
	position: relative;
}


.header a:hover {
	color:rgba(92,92,92,1.00);
	transition: .3s;
}

.header a:hover span{
	color:rgba(92,92,92,1.00);
	transition: .3s;
}

.footer img:hover {
	opacity: .5;
	transition: .3s;
}

/* Preloader */

#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(15,15,15,1.00); /* change if the mask should be a color other than white */
	z-index:99999999; /* makes sure it stays on top */
}

#status{
    width: 20px;
    height: 24px;
    border: 1px rgba(210,210,210,1) solid;
    border-radius: 0px 0px 5px 5px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally on the screen */
	top:50%;
	margin: -10px 0 0 -12px;	
}

#status:after, #status:before{
    position: absolute;
    content: "";
}

#status:after{
    width: 5px;
    height: 12px;
    border: 1px #fff solid;
    border-left: none;
    border-radius: 0px 20px 20px 0px;
    left: 20px;
}

#status:before{
    width: 1px;
    height: 6px;
    background-color: rgba(210,210,210,1);
    top: -10px;
    left: 4px;
    box-shadow: 5px 0px 0px 0px rgba(210,210,210,1),
                5px -5px 0px 0px rgba(210,210,210,1),
                10px 0px 0px 0px rgba(210,210,210,1);
    -webkit-animation: steam 1s linear infinite alternate;
       -moz-animation: steam 1s linear infinite alternate;
            animation: steam 1s linear infinite alternate;
}

@-webkit-keyframes steam{
    0%{height: 0px;}
    100%{height: 6px;}            
}

@-moz-keyframes steam{
    0%{height: 0px}
    100%{height: 6px;}            
}

@keyframes steam{
    0%{height: 0px}
    100%{height: 6px;}            
}

/* HEADER */

.header {
	z-index:1000;
	width:90%;
	height: 100px;
	margin-left:auto;
	margin-right:auto;
}

.logo {
	float: left;
	width: 50%;
	height: 100%;
	display: flex;
	align-items:center;
	justify-content:flex-start;
}

.logo a{
	text-decoration: none;
	font-size: 22px;
	color: rgba(210,210,210,1.00);
	font-family: quantify;
	line-height: 22px;
}

.logo a span{
	font-family: montserrat-extralight;
	letter-spacing: 1.3px;
	font-size: 15px;
}

.pages {
	float: left;
	width: 50%;
	height: 100%;
	display: flex;
	align-items:center;
	justify-content:flex-end;
}

.pages a{
	text-decoration: none;
	color: rgba(210,210,210,1.00);
	font-size: 14px;
	font-family: montserrat-regular;
	text-align: center;
	padding-left: 30px;
}

@media screen and (max-width:640px) {
	.header {
		width: 100%;
	}
	.logo {
		width: 100%;
		justify-content: center;
		height:100%;
	}

	.logo a{
		margin-left: 0%;
		transform: translateX(0px);
		text-align: center;
	}
	
	.logo a span {
		text-align: center;
	}

	.pages {
		width: 100%;
		justify-content: center;
		height: 20%;
		padding-bottom: 20px;
	}
	.pages a {
		padding: 15px;
	}
}

#Selected {
	color:rgba(92,92,92,1.00);
}

/* FOOTER */

.footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index:100;
	width:90%;
	height: 100px;
	margin-left:auto;
	margin-right:auto;
	display: table-footer-group;
}

.email {
	float: left;
	width: 50%;
	height: 100%;
	display: flex;
	align-items:center;
	justify-content:flex-start;
}

.email p {
	font-size: 12px;
	color: rgba(210,210,210,1.00);
	font-style: italic;
}

.socialIcons {
	float: left;
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content:flex-end;
}

.socialIcons img {
	height: 22px;
	padding-left: 6px;
}


@media screen and (max-width:640px) {
	.footer {
		width: 100%;
		height: 80px;
		padding-bottom: 20px;
	}
	.email {
		width: 100%;
		justify-content: center;
		height:60%;
	}
	.email p{
		transform: translateX(0px);
	}
	.socialIcons {
		width: 100%;
		justify-content: center;
		height: 70%;
	}
	.socialIcons img {
		padding: 0px 5px 10px 5px;
		height: 27px;
	}
}

/* FILMS SELECTION PAGE */

.filmsSelectionBigWrapper {
	display:table;
	width:100%;
}

.filmsSelectionWrapper { 
	padding-bottom: 100px;
}

#filmsSelectionGrid {
    max-width:100%;
	margin:0 auto;
    padding:0;
    font-size:0;
    list-style:none;
	width: calc(90% + 30px);
	background: rgba(15,15,15,1.00);
	margin-left: auto;
	margin-right: auto;
	
}

#filmsSelectionGrid li {
    display: inline-block;
    *display:inline;
    width:100%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}      

.filmsSelectionGrid-cell {
    display:block;
    position: relative;
	margin: 15px;
	transition: .5s;
}
 

.filmsSelectionGrid-cell:hover {
	opacity: .5;
	transition: .3s;
}

.filmsSelectionGrid-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
}

.filmsSelectionGrid-cell span {
	display:flex;
    padding:0 30px;
	top:0;
    box-sizing:border-box;
    position:absolute;
	height:100%;
	text-align:center;
    font-size:20px;
    font-weight: bold;
	justify-content:flex-end;
	align-items: center;
    color:rgba(234,234,234,1.00);
}
   
#pic1 {
    left: 0;
    width: 75%;
}

#pic2 {
    left: 25%;
}

#filmsSelectionGrid li:hover .filmsSelectionGrid-text {
    opacity:1;
}


@media (max-width: 640px) {
    #filmsSelectionGrid li {
        width:100%;
    }
	#filmsSelectionGrid {
        width:100%;
    }
	.filmsSelectionGrid-cell {
	margin: 15px 0px 15px 0px;
	}
}	





/* FIlMS GRID PAGE */

.filmsGridBigWrapper {
	display:table;
	width:100%;
}

.filmsGridWrapper { 
	padding-bottom: 100px;
}

#filmsGrid {
    max-width:100%;
	margin:0 auto;
    padding:0;
    font-size:0;
    list-style:none;
	width: calc(90% + 30px);
	background: rgba(15,15,15,1.00);
	margin-left: auto;
	margin-right: auto;
	
}

#filmsGrid li {
    display: inline-block;
    *display:inline;
    width:33.33%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}      

.filmsGrid-cell {
    display:block;
    position: relative;
	margin: 15px;
}
        
.filmsGrid-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
}
   
.filmsGrid-text {
    display:flex;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
	top: 0;
    width:100%;
	height: 100%;
    text-align:center;
    font-size:18px;
    font-weight: bold;
	justify-content: center;
	align-items: center;
    color: rgba(210,210,210,1.00);
    opacity:0;
    filter:alpha(opacity=0);
    transform:translateY(0px);
    transition:all .5s;
	background-color:rgba(0,0,0,0.30);
}

#filmsGrid li:hover .filmsGrid-text {
    opacity:1;
}

#newfilmsGrid li:hover .filmsGrid-text {
    opacity:1;
}

@media (max-width: 1024px) {
	#filmsGrid li {
        width:50%;
    }
}

@media (max-width: 1366px) and (orientation: landscape) {
	#filmsGrid li {
        width:50%;
    }
}

@media (max-width: 640px) {
    #filmsGrid li {
        width:100%;
    }
	#filmsGrid {
        width:100%;
    }
	.filmsGrid-cell {
	margin: 15px 0px 15px 0px;
	}
}	

/* FILM DETAILS PAGE */

.filmDetails {
	height: calc(100vh - 200px);
	display:flex;
	width: 90%;
	margin: 0 auto;
	padding-top: 10px;
	align-items:center;
}

.filmGallery {
	order:1;
	width: 70%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.slider {
	height: auto;
	width: auto;
	max-height: 100%;
	max-width: 100%;
}

.slider-for{
	width:90%;
	height:auto;
	margin: 0 auto;
}

.slider-for div{
	width:100%;
	height:100%;
}

.slider-for div img{
	margin: 0 auto;
	width:100%;
	height:auto;
	max-height: 100%;
}

.slider-for div iframe{
	margin: 0 auto;
	width:100%;
	max-height: 100%;
}

.slider-nav {
	width:70%;
	height:auto;
	margin: 0 auto;
}

.slider-nav div{
	height:auto;
	width: auto;
}

.slider-nav div img{
	height:auto;
	width: 100%;
	max-height: 100%;
	top: 0;
}

.filmInfoContainer {
	order:0;
	width: 30%;
	display: flex;
	align-items: center;
	justify-content: center;
}

.filmInfo {
	text-align: center;
	width: 90%;
}


#Title {
	font-family: montserrat-semibold;
	font-size: 25px;
}

#Subtitle {
	font-family: montserrat-extralight;
}

#titleItalics {
	font-style: italic; 
}

#infoItalics {
	font-style: italic; 
}

#Camera {
	font-family: montserrat-regular;
}

#Optics {
	font-family: montserrat-regular;
}


@media (max-width: 1024px) {
	.filmDetails {
		flex-direction: column;
		height: auto;
		width: 100%;
		padding-bottom: 100px;
	}
	.filmGallery {
		display: flex;
		align-self: flex-end;
		flex-direction: column;
		align-items: center;
		order: 0;
		width: 100%;
		justify-content: center;
		height: auto;
	}
	.filmInfoContainer {
		order: 1;
		width: 100%;
		justify-content: center;
		height: auto;
		padding-top: 25px;
	}

	.slider-for div img{
		width:100%;
		height: auto;
		
	}
	.slider-for div {
		height: auto;
	}
}

@media (max-width: 640px) and (orientation:portrait) {
	.filmDetails {
		width: 100%;
	}
	.slider-nav {
		width: 80%;
	}
	.slider-for{
		width: 100%;
	}
	.filmInfo {
		width: 80%;
	}
}


/*PHOTOS GRID PAGE */

.photosGridBigWrapper {
	display:table;
	width:100%;
}

.photosGridWrapper { 
	padding-bottom: 100px;
}

#photosGrid {
    max-width:100%;
	margin:0 auto;
    padding:0;
    font-size:0;
    list-style:none;
	width: calc(90% + 30px);
	background: rgba(15,15,15,1.00);
	margin-left: auto;
	margin-right: auto;
}

#photosGrid li {
    display: inline-block;
    *display:inline;
    width:50%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
        

.photosGrid-cell {
    display:block;
    position: relative;
	margin: 15px;
	height: 100%;
}
        

.photosGrid-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
}
   
.photosGrid-text {
    display:flex;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
	top: 0;
    width:100%;
	height: 100%;
    text-align:center;
    font-size:18px;
    font-weight: bold;
	justify-content: center;
	align-items: center;
    color: rgba(210,210,210,1.00);
    opacity:0;
    filter:alpha(opacity=0);
    transform:translateY(0px);
    transition:all .5s;
	background-color:rgba(0,0,0,0.50);
}

#photosGrid li .photosGrid-text:hover {
    opacity:1;
}

@media (max-width: 1024px) {
	
    #photosGrid li {
        width:100%;
    }
	.photosGrid-text {
		background-color:rgba(0,0,0,.2);
	}
}

@media (max-width: 640px) {
    #photosGrid li {
        width:100%;
    }
	#photosGrid {
        width:100%;
    }
	.photosGrid-cell {
	margin: 15px 0px 15px 0px;
	}
}	

/* PHOTO ALBUM PAGE  */ 

.backToPhotosButton {
	height:10%;
	width: 10%;
	margin: 0% 2% 0% 2%;
	display:flex;
	justify-content: flex-start;
	position: absolute;
	transform: translateY(90px);
}

.backToPhotosButton img {
	width: 10%;
	height:20%;
}

.backToPhotosButton a {
	text-decoration: none;
	color:white;
	font-size: 12px;
}

.backToPhotosButton a:hover {
	opacity:.6;
	transition-property: opacity;
	transition-duration: .4s;
	transition-timing-function: ease;
}

.photosInfo {
	width: 70%;
	margin-top: 30px;
	margin-bottom: 30px;
	margin-left: auto;
	margin-right: auto;
}

.photosInfo p {
	color: rgba(210,210,210,1.00);
	text-align: center;
}

.photosAlbumGridBigWrapper {
	display: table;
	width:100%;
}

.photosAlbumGridWrapper { 
	padding-bottom: 100px;
}

#photosAlbumGrid {
    max-width:100%;
	margin:0 auto;
    padding:0;
    font-size:0;
    list-style:none;
	width: calc(90% + 30px);
	background: rgba(15,15,15,1.00);
	margin-left: auto;
	margin-right: auto;
}

#photosAlbumGrid li {
    display: inline-block;
    *display:inline;
    width:20%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
        

.photosAlbumGrid-cell {
    display:block;
    position: relative;
	margin: 15px;
}
       
.photosAlbumGrid-cell img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);	
}

#photosAlbumGrid li:hover .photosAlbumGrid-overlay {
    opacity:1;
}

.photosAlbumGrid-cell:hover {
	opacity: .5;
	transition: .3s;
}


@media (max-width: 1300px) {
    #photosAlbumGrid li {
        width:25%;
    }
}

@media (max-width: 1024px) {
    #photosAlbumGrid li {
        width:33.33%;
    }
}

@media (max-width: 640px) {
    #photosAlbumGrid {
	width: 100%;
	}
	
	.photosAlbumGrid-cell {
	margin: 10px;
	}
	
	.photosAlbumGridBigWrapper {
	display: table-header-group;
	}
	.photosInfo {
		width: 90%;
	}
}
	

/* ABOUT ME PAGE ELEMENTS */

.bannerMegaWrapper {
	display:table;
	width:100%;
}

.bannerBigWrapper { 
	padding-bottom: 0;
}

#bannerWrapper {
    max-width:100%;
	margin:0 auto;
    padding:0;
    font-size:0;
    list-style:none;
	width: 90%;
	background: rgba(15,15,15,1.00);
	margin-left: auto;
	margin-right: auto;
}

#banner li {
    display: inline-block;
    *display:inline;
    width:100%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
        

.banner-cell {
    display:block;
    position: relative;
	margin: 15px;
}
        

.banner-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
	margin: 0 auto;
}


.aboutText {
	color: white;
	width: 70%;
	text-align: justify;
	margin: 0 auto;
}

@media (max-width: 640px) {
	.banner-img {
		width: 40%;
	}
}
