@charset "UTF-8";
/* CSS Document */

@font-face {
	font-family: montserrat-regular;
    src: url(../media/Fonts/montserrat/Montserrat-Regular.otf);
}

@font-face {
	font-family: montserrat-bold;
    src: url(../media/Fonts/montserrat/Montserrat-Bold.otf);
}

@font-face {
	font-family: montserrat-light;
    src: url(../media/Fonts/montserrat/Montserrat-Light.otf);
}

@font-face {
	font-family: montserrat-extralight;
    src: url(../media/Fonts/montserrat/Montserrat-ExtraLight.otf);
}

@font-face {
	font-family: montserrat-thin;
    src: url(../media/Fonts/montserrat/Montserrat-Thin.otf);
}

@font-face {
	font-family: quantify;
	src: url(../media/Fonts/quantify.otf);
}

* {
	font-family: montserrat-light;
	font-size: 13px;
	color: rgba(210,210,210,1.00);
	line-height: 20px;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow:hidden;
	background: url("../media/General/fire1080.gif") no-repeat bottom right fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}


@media screen and (max-width:1024px) {
	html, body {
		background: url("../media/General/fire1024.gif") no-repeat center bottom fixed;	
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}

.pageWrapper {
	min-height: 100%;
	position: relative;
}

.header a:hover {
	color:rgba(92,92,92,1.00);
	transition: .3s;
}

.header a:hover span{
	color:rgba(92,92,92,1.00);
	transition: .3s;
}

.reelbox a:hover {
	color:rgba(92,92,92,1.00);
	transition: .3s;
}

.footer img:hover {
	opacity: .5;
	transition: .3s;
}


/* Preloader */

#preloader {
	position: fixed;
	top:0;
	left:0;
	right:0;
	bottom:0;
	background-color:rgba(15,15,15,1.00); /* change if the mask should be a color other than white */
	z-index:99999999; /* makes sure it stays on top */
}

#status{
    width: 20px;
    height: 24px;
    border: 1px rgba(210,210,210,1) solid;
    border-radius: 0px 0px 5px 5px;
	position:absolute;
	left:50%; /* centers the loading animation horizontally on the screen */
	top:50%;
	margin: -10px 0 0 -12px;
	
}

#status:after, #status:before{
    position: absolute;
    content: "";
}

#status:after{
    width: 5px;
    height: 12px;
    border: 1px #fff solid;
    border-left: none;
    border-radius: 0px 20px 20px 0px;
    left: 20px;
}

#status:before{
    width: 1px;
    height: 6px;
    background-color: rgba(210,210,210,1);
    top: -10px;
    left: 4px;
    box-shadow: 5px 0px 0px 0px rgba(210,210,210,1),
                5px -5px 0px 0px rgba(210,210,210,1),
                10px 0px 0px 0px rgba(210,210,210,1);
    -webkit-animation: steam 1s linear infinite alternate;
       -moz-animation: steam 1s linear infinite alternate;
            animation: steam 1s linear infinite alternate;
}

@-webkit-keyframes steam{
    0%{height: 0px;}
    100%{height: 6px;}            
}

@-moz-keyframes steam{
    0%{height: 0px}
    100%{height: 6px;}            
}

@keyframes steam{
    0%{height: 0px}
    100%{height: 6px;}            
}

/* HEADER */

.header {
	z-index:1000;
	width:90%;
	height: 100px;
	margin-left:auto;
	margin-right:auto;
}

.logo {
	float: left;
	width: 50%;
	height: 100%;
	display: flex;
	align-items:center;
	justify-content:flex-start;
}

.logo a{
	text-decoration: none;
	font-size: 22px;
	color: rgba(210,210,210,1.00);
	font-family: quantify;
	line-height: 22px;
}

.logo a span{
	font-family: montserrat-extralight;
	letter-spacing: 1.3px;
	font-size: 15px;
}

.pages {
	float: left;
	width: 50%;
	height: 100%;
	display: flex;
	align-items:center;
	justify-content:flex-end;
}

.pages a{
	text-decoration: none;
	color: rgba(210,210,210,1.00);
	font-size: 14px;
	font-family: montserrat-regular;
	text-align: center;
	padding-left: 30px;
}

@media screen and (max-width:640px) {
	.header {
		width: 100%;
	}
	.logo {
		width: 100%;
		justify-content: center;
		height:100%;
	}

	.logo a{
		margin-left: 0%;
		transform: translateX(0px);
		text-align: center;
	}
	
	.logo a span {
		text-align: center;
	}

	.pages {
		width: 100%;
		justify-content: center;
		height: 20%;
		padding-bottom: 20px;
	}
	.pages a {
		padding: 15px;
	}
}

#Selected {
	color:rgba(92,92,92,1.00);
}


/* FOOTER */

.footer {
	position: absolute;
	bottom: 0px;
	left: 0px;
	right: 0px;
	z-index:100;
	width:90%;
	height: 100px;
	margin-left:auto;
	margin-right:auto;
	display: table-footer-group;
}

.email {
	float: left;
	width: 50%;
	height: 100%;
	display: flex;
	align-items:center;
	justify-content:flex-start;
}

.email p {
	font-size: 12px;
	color: rgba(210,210,210,1.00);
	font-style: italic;
}

.socialIcons {
	float: left;
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content:flex-end;
}

.socialIcons img {
	height: 22px;
	padding-left: 6px;
}


@media screen and (max-width:640px) {
	.footer {
		width: 100%;
		height: 80px;
		padding-bottom: 20px;
	}
	.email {
		width: 100%;
		justify-content: center;
		height:60%;
		visibility: hidden;
	}
	.email p{
		transform: translateX(0px);
	}
	.socialIcons {
		width: 100%;
		justify-content: center;
		height: 70%;
	}
	.socialIcons img {
		padding: 0px 5px 10px 5px;
		height: 27px;
	}
}

/* REELBOX */

.reelbox a {
	text-decoration: none;
	color: rgba(210,210,210,1.00);
	position:absolute;
	left: 50%;
	bottom: calc(50% + 50px);
    transform: translate(-50%,60px);
	text-align:center;
	z-index: 100;
	font-size: 14px;
	padding: 0 5px;
	-webkit-transition: color 0.3s;
	-moz-transition: color 0.3s;
	transition: color 0.3s;
}

.reelbox a::before,

.reelbox a::after {
	position: absolute;
	width: 100%;
	left: 0;
	top: 50%;
	height: 1px;
	margin-top: -1px;
	background: rgba(210,210,210,1);
	color: rgba(210,210,210,1);
	content: '';
	z-index: 1;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.3s;
	-moz-transition: -moz-transform 0.3s, opacity 0.3s;
	transition: transform 0.3s, opacity 0.3s;
	pointer-events: none;
}

.reelbox a::before {
	-webkit-transform: translateY(-20px);
	-moz-transform: translateY(-20px);
	transform: translateY(-20px);
}

.reelbox a::after {
	-webkit-transform: translateY(20px);
	-moz-transform: translateY(20px);
	transform: translateY(20px);
}

.reelbox a:hover,
.reelbox a:focus {
	outline: none;
	color: rgba(92,92,92,1);
}

.reelbox a:hover::before,
.reelbox a:hover::after,
.reelbox a:focus::before,
.reelbox a:focus::after {
	color: rgba(92,92,92,1);
	background: rgba(92,92,92,1);
}

.reelbox a:hover::before,
.reelbox a:hover::before {
	-webkit-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	transform: rotate(45deg);
}

.reelbox a:hover::after,
.reelbox a:hover::after {
	-webkit-transform: rotate(-45deg);
	-moz-transform: rotate(-45deg);
	transform: rotate(-45deg);
}

