@charset "UTF-8";

/* CSS Document */

@font-face {
	font-family: montserrat-regular;
	src: url(../media/Fonts/montserrat/Montserrat-Regular.otf);
}

@font-face {
	font-family: montserrat-bold;
	src: url(../media/Fonts/montserrat/Montserrat-Bold.otf);
}

@font-face {
	font-family: montserrat-semibold;
	src: url(../media/Fonts/montserrat/Montserrat-SemiBold.otf);
}

@font-face {
	font-family: montserrat-light;
	src: url(../media/Fonts/montserrat/Montserrat-Light.otf);
}

@font-face {
	font-family: montserrat-extralight;
	src: url(../media/Fonts/montserrat/Montserrat-ExtraLight.otf);
}

@font-face {
	font-family: montserrat-thin;
	src: url(../media/Fonts/montserrat/Montserrat-Thin.otf);
}

@font-face {
	font-family: quantify;
	src: url(../media/Fonts/quantify.otf);
}

* {
	font-family: montserrat-light;
	font-size: 13px;
	color: rgba(255, 255, 255, 1.00);
	line-height: 20px;
}

html, body {
	margin: 0;
	padding: 0;
	height: 100%;
	overflow: hidden;
	background: url("../media/General/fire1080.gif") no-repeat bottom right fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

@media screen and (max-width:1024px) {
	html, body {
		background: url("../media/General/fire1024.gif") no-repeat center bottom fixed;
		-webkit-background-size: cover;
		-moz-background-size: cover;
		-o-background-size: cover;
		background-size: cover;
	}
}


/* Preloader */

#preloader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	background-color: rgba(0, 0, 0, 1.00);
	/* change if the mask should be a color other than white */
	z-index: 99999999;
	/* makes sure it stays on top */
}

#status {
	width: 20px;
	height: 24px;
	border: 1px rgba(255, 255, 255, 1) solid;
	border-radius: 0px 0px 5px 5px;
	position: absolute;
	left: 50%;
	/* centers the loading animation horizontally on the screen */
	top: 50%;
	margin: -12px 0 0 -10px;
}

#status:after, #status:before {
	position: absolute;
	content: "";
}

#status:after {
	width: 5px;
	height: 12px;
	border: 1px rgba(255, 255, 255, 1) solid;
	border-left: none;
	border-radius: 0px 20px 20px 0px;
	left: 20px;
}

#status:before {
	width: 1px;
	height: 6px;
	background-color: rgba(255, 255, 255, 1);
	top: -10px;
	left: 4px;
	box-shadow: 5px 0px 0px 0px rgba(255, 255, 255, 1), 5px -5px 0px 0px rgba(255, 255, 255, 1), 10px 0px 0px 0px rgba(255, 255, 255, 1);
	-webkit-animation: steam 1s linear infinite alternate;
	-moz-animation: steam 1s linear infinite alternate;
	animation: steam 1s linear infinite alternate;
}

@-webkit-keyframes steam {
	0% {
		height: 0px;
	}
	100% {
		height: 6px;
	}
}

@-moz-keyframes steam {
	0% {
		height: 0px
	}
	100% {
		height: 6px;
	}
}

@keyframes steam {
	0% {
		height: 0px
	}
	100% {
		height: 6px;
	}
}


/* HEADER */

.headercontainer {
	display: flex;
	width: 100%;
	justify-content: center;
	height: 70px;
	border-bottom: solid 1px;
	border-color: rgba(255, 255, 255, 0.30);
}

.header {
	display: flex;
	align-items: center;
	width: 95%;
}

.logo {
	flex: 1;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	text-align: left;
}

.logo p {
	margin: 0 0 -.25em 0;
}

#name {
	font-family: quantify;
	font-size: 18px;
}

#job {
	font-size: 13px;
}

.nav {
	flex: 1;
	display: flex;
	justify-content: center;
}

.nav a {
	text-decoration: none;
	font-family: montserrat-regular;
	margin-left: 20px;
	margin-right: 20px;
}

.icons {
	flex: 1;
	display: flex;
	justify-content: flex-end;
	align-self: center;
}

.icons a {
	text-decoration: none;
}


.container {
  width: 24px;
  height: 24px;
  border-radius: 50%;
	margin-left: 6px;
}

.container:hover {
  cursor: pointer;
}

.container:hover > div {
  background: white;
}

.circle:hover > .svg {
  fill: black;
}

.svg {
  width: 12px;
  height: 12px;
  fill: white;
  transition: .3s;
align-self: center;
}

.circle {
  width: 24px;
  height: 24px;
  border-radius: 50%;
	border: 1px solid white;
  transition: .3s;
	box-sizing: border-box;
	display: flex;
	justify-content: center;
}


#Selected {
	color: rgba(92, 92, 92, 1.00);
}

.headercontainer a:hover {
	color: rgba(92, 92, 92, 1.00);
	transition: .3s;
}

@media (max-width: 640px) {
	.headercontainer {
		height: 125px;
		padding-top: 15px;
	}
	.header {
		flex-direction: column;
	}
	.logo {
		justify-content: center;
		text-align: center;
	}
	.logo p {
		margin: 0 0 -.15em 0;
	}
	#name {
		font-family: quantify;
		font-size: 20px;
	}
	#job {
		font-size: 14px;
	}
	.nav {
		order: 2;
		align-items: center;
	}
	.nav a {
		margin-left: 15px;
		margin-right: 15px;
	}
	.icons {
		align-items: center;
	}
	.container {
		margin-right: 4px;
		margin-left: 4px;
	}
}

/* Reel */

#view {
	display: flex;
	justify-content: center;
	text-align: center;
	height: calc(100% - 137px);
}

#viewReel {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(255, 255, 255, 0.70);
	opacity: 1;
	border-radius: 4px;
	color: rgba(255, 255, 255, 1.00);
	font-size: 13px;
	text-decoration: none;
	line-height: 20px;
	height: 25px;
	width: 85px;
	text-align: center;
	align-self: center;
}

#view a:hover {
	transition: .5s;
	background-color: white;
	color: black;
}

@media (max-width: 640px) {
	#view {
	height:calc(100% - 280px);
	}
}

/* Reel */

#view {
	display: flex;
	justify-content: center;
	text-align: center;
	height: calc(100% - 137px);
}

#viewReel {
	display: flex;
	justify-content: center;
	align-items: center;
	border: 1px solid rgba(255, 255, 255, 0.70);
	opacity: 1;
	border-radius: 4px;
	color: rgba(255, 255, 255, 1.00);
	font-size: 13px;
	text-decoration: none;
	line-height: 20px;
	height: 25px;
	width: 85px;
	text-align: center;
	align-self: center;
}

#view a:hover {
	transition: .5s;
	background-color: white;
	color: black;
}

@media (max-width: 640px) {
	#view {
	height:calc(100% - 280px);
	}
}
