@charset "UTF-8";
/* CSS Document */

@import url(rawline.css);

@font-face {
	font-family: ostrichsans-inline;
    src: url(../media/Fonts/OstrichSansInline-Regular.otf);
}

@font-face {
	font-family: ostrichsans-light;
    src: url(../media/Fonts/OstrichSans-Light.otf);
}

@font-face {
	font-family: ostrichsans-medium;
    src: url(../media/Fonts/OstrichSans-Medium.otf);
}

@font-face {
	font-family: ostrichsans-regular;
    src: url(../media/Fonts/ostrich-sans-regular.ttf);
}

html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	overflow: scroll;
	height: 100%;
	background-color:rgba(9,9,9,1.00);

}

/* NAVBAR */

.navBar {
	z-index:100;
	width:90%;
	height: 100px;
	margin-left:auto;
	margin-right:auto;
}

.navLogo {
	float: left;
	width: 50%;
	height: 100%;
	display: flex;
	align-items:center;
	justify-content:flex-start;
	background-color:rgba(9,9,9,1.00);
}

.navLogo p{
	text-decoration: none;
	font-size: 30px;
	color: rgba(216,216,216,1.00);
	font-family: ostrichsans-inline;
	transform: translateX(15px);
}

.navLogo p span{
	font-family: ostrichsans-light;
}

.navLinks {
	float: left;
	height: 100%;
	width: 50%;
	display: flex;
	align-items: center;
	justify-content:flex-end;
	transform: translateX(15px);
	background-color:rgba(9,9,9,1.00);
}

.navLinks a{
	text-decoration: none;
	color: rgba(216,216,216,1.00);
	font-size: 15px;
	font-family: 'rawline', sans-serif; 
	font-weight: 600;
	margin-right: 30px;
}

@media screen and (max-width:640px) {
	.navLogo {
		width: 100%;
		justify-content: center;
		height:90%
	}

	.navLogo p{
		margin-left: 0%;
		font-size: 28px;
	}
	.navLinks {
		width: 100%;
		justify-content: center;
		height: 50%;
	}
	.navLinks a {
		transform: translateX(15px);
		height: 100%;
	}
}

.filmGridContainer {
	width:100%;
	height:100vh;
	background-color: blue;
}


.filmGrid {
	position: absolute;
}

#rig {
    max-width:100%;
	margin:0 auto; /*center aligned*/
    padding:0;
    font-size:0; /* Remember to change it back to normal font size if have captions */
    list-style:none;
	width: 90%;
	background-color:rgba(9,9,9,1.00);
	
}
#rig li {
    display: inline-block;
    *display:inline;/*for IE6 - IE7*/
    width:25%;
    vertical-align:middle;
    box-sizing:border-box;
    margin:0;
    padding:0;
}
        
/* The wrapper for each item */
.rig-cell {
    /*margin:12px;
    box-shadow:0 0 6px rgba(0,0,0,0.3);*/
    display:block;
    position: relative;
    overflow:hidden;
	margin: 15px;
}
        
/* If have the image layer */
.rig-img {
    display:block;
    width: 100%;
    height: auto;
    border:none;
    transform:scale(1);
    transition:all 1s;
}

#rig li:hover .rig-img {
    transform:scale(1.05);
}
        
/* If have the overlay layer */
.rig-overlay {
    position: absolute;
    display:block;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    margin: auto;
    background: #3DC0F1 url(img/link.png) no-repeat center 20%;
    background-size:50px 50px;
    opacity:0;
    filter:alpha(opacity=0);/*For IE6 - IE8*/
    transition:all 0.6s;
}
#rig li:hover .rig-overlay {
    opacity:0.8;
}

/* If have captions */
.rig-text {
    display:block;
    padding:0 30px;
    box-sizing:border-box;
    position:absolute;
    left:0;
    width:100%;
    text-align:center;
    text-transform:capitalize;
    font-size:18px;
    font-weight:bold;
    font-family: 'Oswald', sans-serif;
    top:40%;
    color:white;
    opacity:0;
    filter:alpha(opacity=0);/*For older IE*/
    transform:translateY(-20px);
    transition:all .3s;
}
#rig li:hover .rig-text {
    transform:translateY(0px);
    opacity:0.9;
}

@media (max-width: 1400px) {
    #rig li {
        width:33.33%;
    }
}


@media (max-width: 1024px) {
    #rig li {
        width:50%;
	}
}

@media (max-width: 640px) {
    #rig li {
        width:100%;
    }
}

.footer {
	z-index:100;
	width:90%;
	height: 100px;
	margin-left:auto;
	margin-right:auto;
	bottom: 0;
	right: 0;
	left: 0;
	position: fixed;
	display: flex;
	justify-content: flex-end;
	align-items: center;
	background-color:rgba(9,9,9,1.00); 
	
}

.footer img {
	height: 20%;
	margin: 3px;
}
